@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Club System</h1>
    <p><a class="text-dark" asp-area="" asp-controller="Person" asp-action="Index">View List of People</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="MemberShip" asp-action="Index">View List of Membership</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="MemberShip" asp-action="Indiviual">View List of Membership - Individual</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="MemberShip" asp-action="OverdrawnAccount">View List of Overdrawn Account</a></p>    
</div>
